
.errorBtn {
    transition: background 1s ease, border-radius 0.5s ease !important;
}

.errorBtn:hover {
    border-radius: 13px;
}




.part1 {
    animation: rotateAnimation3 13s linear infinite;
    transform-origin: center;
}

@keyframes rotateAnimation3 {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }